* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial';
}
html,body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main h1 {
  font-size: 15vw;
}
#main .cursor {
  position: absolute;
  mix-blend-mode: difference;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  transition: all linear 0.2s;
}