*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  height: 100%;
  width: 100%;
  background-color: #0b4f6c;
  font-family:  sans-serif;
}
/* #0b4f6c */
.container {
  height: 100vh;
  width: 100vw;
  color: #cbb9a8;
  margin: 0 auto;

  display: flex;
  justify-content: center;
}
.game {
  margin-top: 60px;
  height: 200px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

  color: #cbb9a8;
}
.box{
  padding: 15px 25px;

  background-color: #dcc7be;
  color: #145c9e;
  height: 60px;
  width: 70px;

  font-size: 25px;
  font-weight: bold;

  border: none;
  border-radius: 15px;
}
.box:disabled{
  padding: 15px 25px;

  background-color: #dcc7be;
  color: #145c9e;
  height: 60px;
  width: 70px;

  font-size: 25px;
  font-weight: bold;

  border-radius: 15px;
  border: none;
}
#reset,
.win-container button{
  margin-top: 20px;
  padding: 10px 18px;
  border-radius: 15px;
  font-weight: bold;
  background-color: #000000;
  color: #dcc7be;
  border: none;
}
.win-container{
  color: #dcc7be;
  margin-top: 200px;
  margin-bottom: 700px;
}
.win-container h1{
  margin-left: 15px;
  margin-bottom: 5px;
}
.win-container button{
  margin-bottom: 10px;
  margin-left: 55px;
}
.hide{
  display: none ;
}